
*{
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
}
#navbar {
    height: 70px;
    background-color: #10243b;
    border-left: 0%;
    padding-left: .5%;
}

ul li{
    float: left;
    list-style-type: none;
    padding: 11px 10px;
    font-size: 1rem;
    line-height: 45px;
}
.subjects {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#right {
    float: left;
    padding-right: .5%;
    padding-left: 10%;
}
.subjects2 {
    color: #94c9d4;
    text-transform: uppercase;
    line-height: 70px;
    padding-right: 1.5%;
    padding-left: 1.5%;
}



/* -----------------------    HERO    ------------------------------- */

#hero{
    background-image: url(images/fans.jpg);
    background-position: center;
    background-size: center;
    width: 100%;
    height: 100%;
}
