
*{
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
}
#navbar {
    height: 70px;
    background-color: #10243b;
    border-left: 0%;
    padding-left: .5%;
}


ul li{
    float: left;
    list-style-type: none;
    padding: 0%;
    padding-right: 1%;
}
.subjects {
    color: white;
    text-transform: uppercase;
    line-height: 70px;
    font-weight: bold;
}
#right {
    float: right;
    padding-right: 5.3%;
    padding-left: .7%;
}
.subjects2 {
    color: #94c9d4;
    text-transform: uppercase;
    line-height: 70px;
    padding-right: 1.5%;
}

.messedup {
    color: white;
}
